@import "bootstrap/bootstrap";

@font-face {
    font-family: "glyphicons";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype");
}

body {
	font-family: 'glyphicons';
}